<div class="container">
  <h1>All groups</h1>
  <%= link_to 'New Group', new_group_path %>
  <ul class="all-groups-block">
    <% @groups.each do |group| %>
      <li class="the-group"><h2><%= link_to truncate(group.name, length: 17), group_path(group) %></h2></li>
      <% if current_user && group.editable_by?(current_user) %>
        <%= link_to 'Edit', edit_group_path(group) %>
        <%= link_to 'Delete', group_path(group), method: 'delete', data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </ul>
</div>