<div class="container">
  <h1>My Groups</h1>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <%= link_to group.name, group_path(group) %>
        <%= group.description %>
        <%= group.posts.size %>
        <%= group.updated_at.to_s(:long) %>
      </li>
    <% end %>
  </ul>
</div>